<div class="row"><br></div>
<div class="container-fluid">
  <%= link_to '<button class="btn btn-default btn-sm">
  <i class="fa fa-arrow-left" aria-hidden="true"></i> Regresar</button>'.html_safe, equipment_lightning_arresters_path %>
</div>
<div class="row"><br></div>
<div class="container-fluid">
  <div class="panel panel-success">
    <div class="panel-heading"> <h4><b>Edición del apartarrayo <span class="label label-default"> <%= @lightning_arrester.nomenclatura %></span></b></h4></div>
      <div class="panel-body">
        <div class="row"><br></div>
	    <%= render 'form', lightning_arrester: @lightning_arrester %>

