<div class="row home">
  <div class="col-md-4">
    <a href="http://www.cfe.gob.mx/paginas/home.aspx"><img src=/img/logo_cfe.png  class="cfe_logo_mex"></a>
   </div>
   <div class="col-md-4">
     <a href="http://www.cfe.gob.mx/paginas/home.aspx"><img src=/img/cfe-home.png class="cfe_logo"></a>
   </div>
     <div class="col-md-3">
     <br><br>
       <strong><em> <p class="text-right">GERENCIA REGIONAL DE TRANSMISIÓN CENTRAL ZONA DE TRANSMISIÓN GUERRERO</p></em></strong>
     </div>
   <div class="col-md-1"></div>
 </div>