<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6 footerleft ">
        <div class="logofooter"><img src=/img/SICADS.png  class="sicads_logo"></div>
        <p>Sistema de ContrOl y Analisís de Datos en Subestaciones de CFE gerencia de transmision central, zona de transmisión Guerrero</p>
        <p><i class="fa fa-map-pin"></i> Blvd. Vicente Guerrero s/n, Las Cruces, 39770 Acapulco, Gro. MéXico</p>
        <p><i class="fa fa-phone"></i> Telefono (México) : +52 (nulo)9999 878 398</p>
        <p><i class="fa fa-envelope"></i> E-mail : (nulo) cfe_transmision@hotmail.com</p>
        
      </div>
      <div class="col-md-2 col-sm-6 paddingtop-bottom">
        <h6 class="heading7">GENERAL LINKS</h6>
        <ul class="footer-ul">
          <li><a href="#"> Career</a></li>
          <li><a href="#"> Privacy Policy</a></li>
          <li><a href="#"> Terms & Conditions</a></li>
          <li><a href="#"> Client Gateway</a></li>
          <li><a href="#"> Ranking</a></li>
          <li><a href="#"> Case Studies</a></li>
          <li><a href="#"> Frequently Ask Questions</a></li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-6 paddingtop-bottom">
        <h6 class="heading7">DESARROLLADORES</h6>
        <div class="post">
          <p>facebook crack the movie advertisment code:what it means for you <span>August 3,2015</span></p>
          <p>facebook crack the movie advertisment code:what it means for you <span>August 3,2015</span></p>
          <p>facebook crack the movie advertisment code:what it means for you <span>August 3,2015</span></p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 paddingtop-bottom">
        <div class="fb-page" data-href="https://www.facebook.com/facebook" data-tabs="timeline" data-height="300" data-small-header="false" style="margin-bottom:15px;" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
          <div class="fb-xfbml-parse-ignore">
            <blockquote cite="https://www.facebook.com/facebook"><a href="https://www.facebook.com/facebook">Nulo</a></blockquote>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!--footer start from here-->

<div class="copyright">
  <div class="container">
    <div class="col-md-6">
      <p>© 2017 - Demo</p>
    </div>
    <div class="col-md-6">
      <ul class="bottom_ul">
        <li><a href="http://www.cfe.gob.mx">cfe.gob.mx</a></li>
        <li><a href="#">acerca de nosotros</a></li>
        <li><a href="#">contáctanos</a></li>
        <li><a href="https://www.google.com.mx/search?q=cfe%20las%20cruces&rlz=1C1NDCM_esMX752MX752&oq=cfe+las+cruces&aqs=chrome..69i57j0l5.2719j0j4&sourceid=chrome&ie=UTF-8&npsic=0&rflfq=1&rlha=0&rllag=16891996,-99841305,2004&tbm=lcl&rldimm=17349793415345532630&ved=0ahUKEwjuueixwNnVAhUC9WMKHaQlAlUQvS4IMzAB&rldoc=1&tbs=lrf:!3sIAE,lf:1,lf_ui:4#rldoc=1&rlfi=hd:;si:9614282861303195383;mv:!1m3!1d11790.990675906154!2d-99.83477328101196!3d16.89288635297664!3m2!1i339!2i593!4f13.1">ubicación</a></li>
      </ul>
    </div>
  </div>
</div>