<div class="row"><br></div>
<div class="container-fluid">
  <%= link_to '<button class="btn btn-default btn-sm">
  <i class="fa fa-arrow-left" aria-hidden="true"></i> Regresar</button>'.html_safe,control_substations_path %>
</div>
<div class="row"><br></div>
<div class="container-fluid">
  <div class="panel panel-success">
    <div class="panel-heading"> <h4><b>Edición de la subestación <span class="label label-default"> <%= @substation.nombre_subestacion %></span></b></h4></div>
      <div class="panel-body">
        <div class="row"><br></div>
        <div class="row"><br></div>
	    <%= render 'form', substation: @substation %>


