.home-free{
	background-image: url("/img/tower-wallpaper.jpg");
    background-repeat: no-repeat;

    /* background-size: contain; */
    /* background-repeat: no-repeat; */
    /* background-attachment: fixed; */
    background-position: center;
    background-size: cover;
    /* padding-top: 50px; */
    /* padding-bottom: 100%; */
}
.home-user{
    background-image: url("/img/tower-wallpaper2.jpg");
    background-repeat: no-repeat;
        padding-bottom: 670px;
    /* background-size: contain; */
    /* background-repeat: no-repeat; */
    /* background-attachment: fixed; */
    background-position: center;
    background-size: cover;
    /* padding-top: 50px; */
    /* padding-bottom: 100%; */
}

.banner{

    background-color: rgba(255, 255, 255, 0.93);
    padding-top: 10px;
    padding-bottom: 10px;
}

.mision_vision{
  padding-top: 700px;
}
.mision{
	 
}

.vision{
	
}